* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --bg-color: #062925;
  --bg2-color: #044a42;
  --fg-color: #3a9188;
  --light-color: #b8e1dd;
}

body {
  position: relative;
  background-color: var(--bg-color);
  color: var(--light-color);
}

h1 {
  font-size: 50px;
  padding: 30px;
}

#content {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.status {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  place-self: center;
  font-size: 2.5rem;
  background-color: var(--bg2-color);
  padding: 20px;
  width: 60%;
  border-radius: 20px;
  text-align: end;
  border: 3px solid var(--light-color);
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.prompt {
  justify-self: flex-start;
  max-width: fit-content;
}

.statusText {
  max-width: fit-content;
  justify-self: flex-end;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding-right: 0.2em;
  border-right: 0.5em solid var(--light-color); /* The typwriter cursor */
  white-space: nowrap;
  animation:
    typing 2s steps(40, end),
    blink-caret 1s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--light-color);
  }
}

.playerBoard,
.enemyBoard {
  display: flex;
  flex-direction: column;
}

.playerBoard {
  justify-self: right;
}

.row {
  display: flex;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid var(--light-color);
  transition: background-color 0.4s;
}

.row + .row .cell {
  border-top: 0;
}

.cell + .cell {
  border-left: 0;
}

.boardShip {
  background-color: var(--fg-color);
}

.boardHit {
  background-color: red;
}

.boardHit.boardShip {
  background-color: pink;
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.endScreenModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 5rem;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  background-color: var(--bg2-color);
  border-radius: 20px;
  border: 3px solid var(--fg-color);
}

.playAgainBtn {
  font-size: 3rem;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--bg-color);
  outline: none;
  color: var(--light-color);
  border: 3px solid var(--fg-color);
}

.hidden {
  display: none;
}
